# OS
.DS_Store

# Editors
.vscode/
.idea/

# Logs
*.log

# BATS temp
.bats-core/
.tmp/

# Podman / container artifacts
/tmp/step-p11-kit-images/
*.tar

# Build output
bin/

# Local secrets / env files
*.env
*.env.local
!example.env
!versions.env

tests/functional/logs/*
