[Unit]
Description=Run step-ca-p11-kit systemd testing harness
After=network-online.target
Wants=network-online.target
Wants=user@0.service
After=user@0.service

[Service]
Type=simple
PermissionsStartOnly=true
ExecStartPre=/usr/bin/systemctl start user@0.service
Environment=HOME=/root
Environment=STEPPATH=/root/.step
Environment=XDG_RUNTIME_DIR=/run/user/0
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/0/bus
Environment=HSM_PIN_FILE_PATH=/run/secrets/hsm-pin
ExecStartPre=/usr/local/bin/init-softhsm.sh
PassEnvironment=STEP_SYSTEMD_INSTANCE STEP_SYSTEMD_TEST_IMAGE_TAR_DIR STEP_CA_IMAGE SOFTHSM_IMAGE STEP_TEST_INIT_IMAGE STEP_CA_NAME STEP_CA_DNS_NAMES STEP_CA_EXTERNAL_PORT STEP_CA_ROOT_CERT_NAME STEP_CA_INTERMEDIATE_CERT_NAME STEP_CA_ROOT_PKCS11_TOKEN_LABEL STEP_CA_INTERMEDIATE_PKCS11_TOKEN_LABEL STEP_HSM_PIN_FILE_PATH STEP_ADMIN_PASSWORD_FILE STEP_HSM_PKCS11_URI STEP_P11KIT_CLIENT_MODULE_PATH SOFTHSM_LIB_PATH STEPPATH STEP_CA_CONTAINER_NAME STEP_CA_HEALTH_URL STEP_CA_HEALTH_ROOT_CERT_PATH STEP_CA_HEALTH_RETRIES STEP_CA_HEALTH_RETRY_INTERVAL_SECONDS STEP_SYSTEMD_WAIT_FOR_SHUTDOWN STEP_SYSTEMD_RESET_STEPPATH_ON_START STEP_SYSTEMD_SHUTDOWN_ON_EXIT
ExecStart=/usr/local/bin/start-step-ca-p11-kit-target.sh
Restart=no
StandardOutput=journal+console
StandardError=journal+console
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
