[Unit]
Description=Step CA Services - %i

Wants=p11-kit-server@%i.target
Wants=step-ca-p11-kit-network.service
Wants=step-ca-p11-kit@%i.service

After=p11-kit-server@%i.target
After=step-ca-p11-kit-network.service

[Install]
WantedBy=default.target
